Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  llvm-include-order,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-inc-dec-in-conditions,
  -bugprone-narrowing-conversions,
  -bugprone-unchecked-optional-access,
  -bugprone-unused-local-non-trivial-variable,
  -bugprone-unused-return-value,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -google-runtime-references,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-return-braced-init-list,
  -modernize-use-nodiscard,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-move-const-arg,
  -readability-avoid-return-with-void-value,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-redundant-declaration,
  -readability-redundant-smartptr-get

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

HeaderFilterRegex: "aws-rds-odbc/(build|src).*\\.h$"
# Skip checking dependencies
ExcludeHeaderFilterRegex: "(_deps|aws_sdk)"
InheritParentConfig: false
SystemHeaders: false

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,                 value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                     value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,                    value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,         value: CamelCase  }
  # Support both CamelCase & lower_case (for C-style code)
  - { key: readability-identifier-naming.FunctionCase,                  value: aNy_CasE   }
  - { key: readability-identifier-naming.VariableCase,                  value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase,               value: lower_case }
  - { key: readability-identifier-naming.EnumConstantCase,              value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstexprVariableCase,         value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase,            value: UPPER_CASE }
  - { key: readability-identifier-naming.MemberConstantCase,            value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantCase,            value: UPPER_CASE }
  - { key: readability-implicit-bool-conversion.AllowIntegerConditions, value: 1          }
  - { key: readability-implicit-bool-conversion.AllowPointerConditions, value: 1          }
  - { key: readability-function-cognitive-complexity.IgnoreMacros,      value: 1          }
